<div id="user_nav">
  <% if logged_in? -%>
    <div id="user_bar_greeting">Logged in as <%= link_to_current_user :content_method => :login %></div>
    <div id="user_bar_action"  >(<%= link_to "Log out", logout_path, { :title => "Log out" }    %>)</div>
  <% else -%>
    <div id="user_bar_greeting"><%= link_to_login_with_IP 'Not logged in', :style => 'border: none;' %></div>
    <div id="user_bar_action"  ><%= link_to_login_with_IP "Log in",  { :title => "Log in" } %> | <%= link_to "Sign up", signup_path, { :title => "Create an account" } %></div>
  <% end -%>
</div>

