<h2><%= current_user == @user ? "My details" : "Viewing details for #{@user.login}" %></h2>

<p><b>Username:</b> <%= @user.login %></p>
<p><b>Email:</b> <%= @user.email %></p>

<b><%= link_to(image_tag("edit_my_details_button.jpg"), edit_user_path(@user)) if logged_in? %></b>

<br />
<br />
<br />
<br />

<h3><%= link_to("Xbox360 Gamertags", show_my_xbox360_avatars_path(:login => @user.login), {:class => "text"}) %></h3>

