<div id="activities_section">
  <b><%= link_to(@xbox_console_user.gamertag, @xbox_console_user, {:class => "text"}) %></b>
  <p><%= link_to(image_tag(@xbox_console_user.avatar_url), @xbox_console_user) %>  </p>
  <%= render :partial => "activity_form" %>
  <%= render :partial => "activity", :collection => @activities %>
</div>

<div id="avatar_data"><%= render :partial => @xbox_console_user %></div>




