<h1>Viewing details for <%= @xbox_console_user.gamertag %> </h1>


<p><%= image_tag @xbox_console_user.avatar_url %></p>

<p><b>Currently Online? </b> <%= @xbox_console_user.online ? "Yes" : "No" %> </p>
<p><b>Last Time Online: </b> <%= pretty_time(@xbox_console_user.last_seen_at) %> </p>
<p><b>Owned by: </b> <%= link_to(@xbox_console_user.user.login, user_path(@xbox_console_user.user.id)) %> </p>
<p><b>Membership Status: </b> <%= @xbox_console_user.account_status %> </p>
<p><b>Gamerscore: </b> <%= @xbox_console_user.gamerscore %> </p>
<p><b>Gamerzone: </b> <%= @xbox_console_user.zone %> </p>
<p><b>Location: </b> <%= @xbox_console_user.location %> </p>
<p><b>Country: </b> <%= @xbox_console_user.country %> </p>
<p><b>Reputation: </b> <%= image_tag @xbox_console_user.reputation_url %> </p>

<%= link_to(image_tag("back_button.jpg"), user_path(@xbox_console_user.user.id)) %>


